<h2>Log in</h2>

<% if @error %>
<ul class="error">
<li><%= @error %></li>
</ul>
<% end %>
</br>
<form action="/users/login" method="post">
  <label for="username">Username:</label>
</br>
  <input type="text" name="login">
</br>
  <label for="password">Password:</label>
</br>
  <input type="password" name="password">
</br>
  <input type="submit">
</form>