<h1>Log in</h1>

<ul>
<li><%= @error if @error %></li>
</ul>

<form action="/users/login" method="post">
  <label for="username">Username:</label>
  <input type="text" name="login"></br>
  <label for="password">Password:</label>
  <input type="password" name="password">
  <input type="submit">
</form>