<h2><%= @message %></h2>

<form action="/rounds/<%= current_round.id %>/cards/<%= @card.id %>/next" method="post">
  <input type="submit" value="Continue" class="button mar-t-1 text-c w-20 pad-half">
</form>