<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">

  <title>Flashcards... Of DOOM</title>
</head>

<body>
<header>
  <div id="header_container">

  <h1 class="title">Flashcards... Of DOOM</h1>

  <nav>
    <% if !logged_in? %>
      <a class="navlink" href="/users/new">register</a>
      <a class="navlink" href="/users/login">login</a>
    <% else %>
      <a class="navlink" href="/users/<%= current_user.id %>"><%= current_user.username %></a>
      <a class="navlink" href="/users/logout">log out</a>
    <% end %>
    <a class="navlink" href="/">home</a>
  </nav>

  </div>
</header>
<main class="center">
  <%= yield %>
</main>
</body>
</html>
